<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <div class="container my-3 vertical-center">

    <h1 class="filter-heading">Reviews</h1>

    <div class="filter-container" th:attr="data-filter=${filter},data-page=${page}">
      <div class="d-flex justify-content-center">
        <div class="w-75 mr-2">
          <select id="review-filter-select" class="form-control filter">
                    <option disabled selected>Filter</option>
                    <option th:each="entry: ${reviewFilters}"
                            th:value="${entry.value}" th:text="${entry.key}">
                    </option>
                </select>
        </div>
        <button id="review-filter-btn" class="btn btn-lg btn-success">Filter</button>
      </div>
    </div>

    <div class="filtered-list-container">
      <ul class="filtered-list mx-auto d-flex flex-wrap">
        <li th:each="rating: ${reviews}" class="bg-dark review-card">
          <div class="card-body">
            <h2 class="my-4" th:text="${rating.media.title}"></h2>
            <a th:href="@{/media/{id}(id=${rating.media.id})}">
                        <img class="card-img-top user-pane -rating-img" th:src="${rating.media.posterPath}">
                    </a>
            <div class="my-4 d-flex justify-content-between">
              <div th:each="i: ${#numbers.sequence(1, rating.score)}" class="star"></div>
            </div>
            <p class="pb-2 card-text" th:if="${!#strings.isEmpty(rating.review)}" th:text="${rating.review}"></p>
            <p class="pb-2 card-text" th:if="${#strings.isEmpty(rating.review)}">No review text posted ... :(</p>
            <a class="mt-4 text-lg-center" th:href="@{/user/{id}(id=${rating.author.id})}" th:text="${rating.author.fullName}"></a>
          </div>
          <footer class="py-2 blockquote-footer text-center">
            <small class="text-muted">
                        <p>Last updated on
                            <span th:text="${#calendars.format(rating.updated, 'MMM dd, yyyy')}"></span>
                        </p>
                    </small>
          </footer>
        </li>
      </ul>
    </div>


  </div>
  <div th:if="${page != null}" class="page">
    <ul class="pagination pagination-lg">
      <li th:if="${page > 0}" class="page-item">
        <a class="page-link" th:href="@{/review(page=${page - 1},filter=${filter})}">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" th:href="@{/review(page=${page + 1},filter=${filter})}">Next</a></li>
    </ul>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div th:replace="partials/alert :: danger"></div>
  <div th:replace="partials/alert :: success"></div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>