@import 'modules/fonts';

.newsletter-body {

    margin: 0 auto;
}

.newsletter-page-btn{
    font-size: $login-page-btn-font-size;
}



.newsletter-logo{
    max-width:150px;
}

.newsletter-agree-already{
    text-align: center;
}