@import 'modules/colors';
@import 'modules/fonts';

.search-form {
    > .field {
        font-family: $search-form-field-font;
    }

    > .action {
        background-color: $search-form-action-bg-color;
        border-color: $search-form-action-bg-color;
        color: $search-form-action-fg-color;
    }
}