<!DOCTYPE html>
<html>

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title th:text="${movie.title}">Movie Page</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <main class="container" th:data-media-id="${movie.id}">
    <section class="media-section">
      <h1 class="pt-5 media-section -title" th:text="#{movie.heading(${movie.title}, ${#calendars.format(movie.releaseDate, 'yyyy')})}"></h1>
      <div class="d-flex justify-content-between">
        <img class="col-md-4 media-info -poster" th:src="${movie.posterPath}">
        <div class="col-md-8">
          <p class="row media-info" th:text="${movie.description}">
          </p>
          <div class="row mt-2">
            <div class="col-md-7 px-0">
              <div class="media-info">
                <p class="media-info -key">Genre(s):
                  <span class="media-info -value" th:text="${movie.commaSeperatedGenres}"></span>
                </p>
              </div>
              <div class="media-info">
                <p class="media-info -key" th:if="${movie.director != null}">Director:
                  <a class="media-info -value" th:text="${movie.director.name}" th:href="@{/celebrity/{id}(id=${movie.director.id})}"></a>
                </p>
              </div>
              <div class="media-info" th:if="${movie.writer != null}">
                <p class="media-info -key">Writer:
                  <a class="media-info -value" th:text="${movie.writer.name}" th:href="@{/celebrity/{id}(id=${movie.writer.id})}"></a>
                </p>
              </div>
              <div class="media-info" th:if="${movie.producer != null}">
                <p class="media-info -key">Producer:
                  <a class="media-info -value" th:text="${movie.producer.name}" th:href="@{/celebrity/{id}(id=${movie.producer.id})}"></a>
                </p>
              </div>
              <div class="media-info">
                <p class="media-info -key">Release Date:
                  <span class="media-info -value" th:text="${#calendars.format(movie.releaseDate, 'MMM dd, yyyy')}"></span>
                </p>
              </div>
              <div class="media-info" th:if="${not #strings.isEmpty(movie.productionCompany)}">
                <p class="media-info -key">Production:
                  <span class="media-info -value" th:text="${movie.productionCompany}"></span>
                </p>
              </div>
            </div>
            <div class="row col-md-5 px-0">
              <div class="col-md-6">
                <p class="text-center media-score -label">MashoMeter!</p>
                <div class="row">
                  <img class="mx-auto media-score -icon" src="/img/rating/mashometer-tomato.png">
                </div>
                <p class="text-center media-score -value">
                  <span th:text="${movie.averageCriticRating} * 100"></span>%</p>
                <p class="text-center media-score -stat">Total Reviews:
                  <span th:text="${movie.totalCriticRating}"></span>
                </p>
                <p class="text-center media-score -stat">Average Rating:
                  <span th:text="${movie.averageCriticRating}"></span>/10</p>
                <p class="text-center media-score -stat">Smash:
                  <span th:text="${movie.smashCount}"></span>
                </p>
                <p class="text-center media-score -stat">Pass:
                  <span th:text="${movie.passCount}"></span>
                </p>
              </div>
              <div class="col-md-6">
                <p class="text-center media-score -label">Audience Score</p>
                <div class="row">
                  <img class="mx-auto media-score -icon" src="/img/rating/audience-star.png">
                </div>
                <p class="text-center media-score -value">
                  <span th:text="${movie.averageAudienceRating} * 100"></span>%</p>
                <p class="text-center media-score -stat">Total Ratings:
                  <span th:text="${movie.totalAudienceRating}"></span>
                </p>
                <p class="text-center media-score -stat">Average Rating:
                  <span th:text="${movie.averageAudienceRating}"></span>/5</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-5 media-section">
      <h1 class="media-section -title">Photos</h1>
      <div class="d-flex justify-content-between flex-wrap" th:if="${not #lists.isEmpty(movie.photos)}">
        <th:block th:each="photoUrl, iterStat : ${movie.photos}">
          <div class="pb-2 media-box-photo" th:hidden="${iterStat.index < 5} ? 'false' : 'true'">
            <img class="media-box -thumbnail mx-auto" th:src="${photoUrl}">
          </div>
        </th:block>
      </div>
      <button id="see-more-photo" class="btn mt-1 pull-right" th:if="${not #lists.isEmpty(movie.photos) && #lists.size(movie.photos) > 4}">See more</button>
      <div class="text-center" th:if="${#lists.isEmpty(movie.photos)}">
        <div class="text-center">
          <h3>No photos...</h3>
        </div>
      </div>
    </section>
    <section class="mt-5 media-section">
      <h1 class="media-section -title">Cast</h1>
      <div class="d-flex flex-wrap" th:if="${not #lists.isEmpty(movie.characters)}">
        <th:block th:each="character, iterStat : ${movie.characters}">
          <div class="pb-2 media-box -cast" th:hidden="${iterStat.index < 5} ? 'false' : 'true'">
            <img class="media-box -thumbnail mx-auto" th:src="${character.celebrity.profilePath}">
            <div class="row">
              <a class="mx-auto media-box -text" th:href="@{/celebrity/{id}(id=${character.celebrity.id})}" th:text="${character.celebrity.name}"></a>
            </div>
            <div class="row">
              <p class="mx-auto media-box -text">as</p>
            </div>
            <div class="row">
              <p class="mx-auto media-box -text" th:text="${character.name}"></p>
            </div>
          </div>
        </th:block>
      </div>
      <button id="see-more-cast" class="btn mt-1 pull-right" th:if="${not #lists.isEmpty(movie.characters) && #lists.size(movie.characters) > 4}">See more</button>
      <div class="text-center" th:if="${#lists.isEmpty(movie.characters)}">
        <div class="text-center">
          <h3>No characters...</h3>
        </div>
      </div>
    </section>
    <section class="mt-5 media-section">
      <h1 class="media-section -title">Critic Reviews</h1>
      <div class="card-columns" th:if="${not #lists.isEmpty(movie.criticRatings)}">
        <div class="card bg-light" th:each="rating: ${movie.criticRatings}">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text" th:text="${rating.review}"></p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                        <p>Last updated on
                            <span th:text="${#calendars.format(rating.updated, 'MMM dd, yyyy')}"></span>
                        </p>
                        <a th:href="@{/user/{id}(id=${rating.author.id})}" th:text="${rating.author.displayName}"></a>
                        in
                        <a th:href="${rating.source.link}" th:text="${rating.source.title}"></a>
                    </small>
            </footer>
          </div>
        </div>
      </div>
      <a class="float-right" th:if="${not #lists.isEmpty(movie.criticRatings) && #lists.size(movie.criticRatings) > 8}" th:href="@{/movie/{id}/critic-rating(id=${movie.id})}">See more</a>
      <div class="text-center" th:if="${#lists.isEmpty(movie.criticRatings)}">
        <h3>No reviews posted. Not many fans of this stuff huh?</h3>
      </div>
    </section>
    <section class="mt-5 media-section">
      <h1 class="media-section -title">Audience Reviews</h1>
      <div class="mx-auto d-flex flex-wrap" th:if="${not #lists.isEmpty(movie.audienceRatings)}">
        <div class="card bg-dark" th:each="rating: ${movie.audienceRatings}">
          <div class="card-body">
            <div class="my-4 d-flex justify-content-between">
              <div th:each="i: ${#numbers.sequence(1, rating.score)}" class="star"></div>
            </div>
            <p class="pb-2 card-text" th:if="${!#strings.isEmpty(rating.review)}" th:text="${rating.review}"></p>
            <p class="pb-2 card-text" th:if="${#strings.isEmpty(rating.review)}">No review text posted ... :(</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                        <p>Last updated on
                            <span th:text="${#calendars.format(rating.updated, 'MMM dd, yyyy')}"></span>
                        </p>
                        Author: <a class="pt-5 lead" th:href="@{/user/{id}(id=${rating.author.id})}"
                                   th:text="${rating.author.displayName}"></a>
                    </small>
            </footer>
          </div>
        </div>
      </div>
      <a class="float-right" th:if="${not #lists.isEmpty(movie.audienceRatings) && #lists.size(movie.audienceRatings) > 8}" th:href="@{/movie/{id}/audience-rating(id=${movie.id})}">See more</a>
      <div class="text-center" th:if="${#lists.isEmpty(movie.audienceRatings)}">
        <h3>No ratings posted.</h3>
      </div>
    </section>
    <section th:if="${#session != null}" class="mt-5 media-section">
      <h1 class="media-section -title">Your Thoughts</h1>
      <div id="media-update-list" class="mt-3">
        <h2 class="media-section -secondary-title">Save This Movie</h2>
        <div class="d-flex justify-content-center">
          <button class="mr-5 btn list-btn -ni" th:if="${inNotInterested}" data-bind="css: ntCSS, click: onNI">- Not
                Interested
            </button>
          <button class="mr-5 btn list-btn" th:if="${!inNotInterested}" data-bind="css: ntCSS, click: onNI">- Not
                Interested
            </button>
          <button class="ml-5 btn list-btn -wts" th:if="${inWantToSee}" data-bind="css: wtsCSS, click: onWTS">+ Want
                To See
            </button>
          <button class="ml-5 btn list-btn" th:if="${!inWantToSee}" data-bind="css: wtsCSS, click: onWTS">+ Want To
                See
            </button>
        </div>
      </div>
      <form id="rating-form" class="mt-3">
        <h2 class="media-section -secondary-title">Add your rating</h2>
        <div class="row mt-2">
          <fieldset class="mx-auto star-rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1"></label>
          </fieldset>
        </div>
        <div class="row mt-2">
          <textarea id="rating-form-comment-box" name="comment" class="mx-auto w-75 rating-form -comment-box" placeholder="Add a review (optional)"></textarea>
        </div>
        <div class="row mt-2">
          <input type="submit" data-media-id="${movie.id}" id="rating-form-post-btn" class="mx-auto btn btn-success rating-form -post-btn" />
        </div>
      </form>
    </section>
    <br />
    <br />
  </main>
  <div th:replace="partials/alert :: danger"></div>
  <div th:replace="partials/alert :: success"></div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>