<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <div class="container my-3 vertical-center">

    <div class="filter-container">
      <div class="row">
        <div class="col-sm">
          <select class="form-control filter">
                    <option value="" disabled selected>Category</option>
                    <option value="1">All</option>
                    <option value="2">New Release</option>
                    <option value="3">Coming Soon</option>
                    <option value="4">Opening This week</option>
                </select>
        </div>
        <div class="col-sm">
          <select class="form-control filter">
                    <option value="" disabled selected>Genre</option>
                    <option value="1">All</option>
                    <option value="2">New Release</option>
                    <option value="3">Coming Soon</option>
                    <option value="4">Opening This week</option>
                </select>
        </div>
        <div class="col-sm">
          <select class="form-control filter">
                    <option value="" disabled selected>Sort</option>
                    <option value="1">Release Date (Default)</option>
                    <option value="2">Most Popular</option>
                    <option value="3">Critic Rating</option>
                    <option value="4">Top Box Office</option>
                </select>
        </div>
      </div>
    </div>

    <div class="filtered-list-container">
      <ul class="filtered-list">
        <li th:each="movie: ${movies}">
          <a class="filtered-content" th:href="@{/movie/{id}(id=${movie.id})}">
            <div class="row">
              <div class="col-3">
                <img class="filtered-img" th:src="${movie.posterPath}">
              </div>
              <div class="col-9 filtered-title" th:text="${movie.title}">
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>


    <div class="page">
      <ul class="pagination pagination-lg">
        <li th:if="${pageNumber > 0}" class="page-item">
          <a class="page-link" th:href="@{/movie(page=${pageNumber - 1},sort=${sort},genre=${genre},category=${category})}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" th:href="@{/movie(page=${pageNumber + 1},sort=${sort},genre=${genre},category=${category})}">Next</a></li>
      </ul>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div th:replace="partials/alert :: danger"></div>
  <div th:replace="partials/alert :: success"></div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>