<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${tvshow.title}">TV Show Page</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header id="nav" class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
      <div class="row">
        <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
        <form id="search-bar" class="mx-3 my-auto d-inline w-75">
          <div class="input-group search-form ">
            <input type="text" class="form-control field " placeholder="Search?">
            <button class="btn action" onclick="location.href = 'search.html';">Search</button>
          </div>
        </form>
        <button id="login-btn" class="ml-4 my-4 h-50 btn login-button" onclick="location.href = 'login.html';">Login</button>
      </div>
      <div id="menus" class="collapse navbar-collapse">
        <ul class="w-100 m-auto navbar-nav menu-bar">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>Movie Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>TV Show Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>News Megamenu</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="container" th:data-media-slug="${tvshow.slug}">
    <section class="media-section">
      <h1 class="media-section -title" th:if="${tvshow.endDate == null}" th:text="#{tvshow.heading(${tvshow.title}, ${#dates.year(tvshow.releaseDate)}, 'Present')}"></h1>
      <h1 class="media-section -title" th:if="${tvshow.releaseDate != null}" th:text="#{tvshow.heading(${tvshow.title}, ${#dates.year(tvshow.releaseDate)}, ${#dates.year(tvshow.endDate)})}"></h1>
      <div class="d-flex justify-content-between">
        <img class="media-info -poster" src="http://via.placeholder.com/200x300">
        <div class="col-md-8">
          <p class="row media-info" th:text="${tvshow.description}"></p>
          <div class="row mt-2">
            <div class="col-md-7 px-0">
              <h2 class="media-section -secondary-title">Seasons</h2>
              <div class="d-flex flex-wrap justify-content-around">
                <a class="mt-2 season-circle" th:href="@{/tv/{slug}/{season}(slug=${tvshow.slug}, season=${season.seasonNumber})}" th:each="season: ${tvshow.getSeasons()}" th:text="${season.seasonNumber}"></a>
              </div>
            </div>
            <div class="row col-md-5 px-0">
              <div class="col-md-6">
                <p class="text-center media-score -label">MashoMeter!</p>
                <div class="row">
                  <img class="mx-auto media-score -icon" src="/img/rating/mashometer-tomato.png">
                </div>
                <p class="text-center media-score -value"><span th:text="${tvshow.averageCriticRating} * 100"></span>%</p>
                <p class="text-center media-score -stat">Total Reviews: <span th:text="${tvshow.totalCriticRating}"></span></p>
                <p class="text-center media-score -stat">Average Rating: <span th:text="${tvshow.averageCriticRating}"></span>/10</p>
                <p class="text-center media-score -stat">Smash: <span th:text="${tvshow.smashCount}"></span></p>
                <p class="text-center media-score -stat">Pass: <span th:text="${tvshow.passCount}"></span></p>
              </div>
              <div class="col-md-6">
                <p class="text-center media-score -label">Audience Score</p>
                <div class="row">
                  <img class="mx-auto media-score -icon" src="/img/rating/audience-star.png">
                </div>
                <p class="text-center media-score -value"><span th:text="${tvshow.averageAudienceRating} * 100"></span>%</p>
                <p class="text-center media-score -stat">Total Ratings: <span th:text="${tvshow.totalAudienceRating}"></span></p>
                <p class="text-center media-score -stat">Average Rating: <span th:text="${tvshow.averageAudienceRating}"></span>/5</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-4 media-section">
      <h1 class="media-section -title">Photos</h1>
      <div class="d-flex justify-content-between">
        <img class="media-section -photo" th:each="photo: ${tvshow.photos}" th:src="${photo}">
      </div>
      <a class="mt-2 float-right" th:if="${#lists.size(tvshow.photos) > 4}" th:href="@{/tv/{slug}/photo(slug=${tvshow.slug})}">See more</a>
    </section>

    <section class="mt-4 media-section">
      <h1 class="media-section -title">Critic Reviews</h1>
      <div class="card-columns" th:if="${not #lists.isEmpty(tvshow.criticRatings)}">
        <div class="card bg-light" th:each="rating: ${tvshow.criticRatings}">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text" th:text="${rating.review}"></p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated on <span th:text="${#calendars.(rating.updated, 'MMM dd, yyyy')}"></span></p>
                                <a th:href="@{/critic/{slug}(slug=${rating.author.slug})}" th:text="${rating.author.name}"></a> in
                                <a th:href="${rating.source.link}" th:text="${rating.source.title}"></a>
                            </small>
            </footer>
          </div>
        </div>
      </div>
      <a class="float-right" th:if="${not #lists.isEmpty(movie.criticRatings) && #lists.size(movie.criticRatings) > 8}" th:href="@{/movie/{slug}/critic-rating(slug=${movie.slug})}">See more</a>
      <div class="text-center" th:if="${#lists.isEmpty(movie.criticRatings)}">
        <h3>No reviews posted. Not many fans of this stuff huh?</h3>
      </div>
      <a class="float-right" href="#">See more</a>
    </section>
    <section class="mt-4 media-section">
      <h1 class="media-section -title">Audience Reviews</h1>
      <div class="card-columns">
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body">
            <img class="review-card -tomato" src="/img/rating/mashometer-tomato.png">
            <p class="pt-2 card-text review-card -text">
              It is, despite Spielberg's claims, neither a purehearted popcorn flick nor a Paul Verhoevenesque subversion, but something uneasily in between, cowed by the idea of the fanboy demographic.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                                <p>Last updated 3 mins ago</p>
                                <a href="#">Jane Done</a> in
                                <a href="#">The New Yorker</a>
                            </small>
            </footer>
          </div>
        </div>
      </div>
      <a class="float-right" href="#">See more</a>
      </div>
    </section>
    <br />
    <br />
  </main>
  <footer class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="collapse navbar-collapse">
      <div class="mx-3 w-100 navbar-nav menu-bar">
        <a class="nav-item nav-link col-lg" href="about.html">
                About
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="feedback.html">
                Feedback
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="criticsubmission.html">
                Critic Submission
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link btn-primary col-lg rounded" href="newsletter.html">
                Join the Newsletter!
                <span class="sr-only"></span>
            </a>
      </div>
    </div>
  </footer>
  <script src="/js/bundle.js"></script>

</body>

</html>