<!doctype html>
<html lang="en">

<head>
    <div th:replace="partials/meta :: meta"></div>
    <title>Mashed Tomatoes Search</title>
    <div th:replace="partials/style :: style"></div>
</head>

<body>
    <div th:replace="partials/header :: header"></div>
    <div class="container my-3 vertical-center">
        <div class="container" id="contents-container">
            <div class="m-5">
                <h1 class="search-title text-center">Search Results</h1>
            </div>
            <h2 class="search-category mt-5 mb-4 text-center">Movies</h2>
            <section class="col-md-12">
                <h3 th:if="${#lists.isEmpty(movies)}">No Movies Found</h3>
                <div th:if="${not #lists.isEmpty(movies)}" class="d-flex flex-wrap">
                    <div class="card" th:each="movie: ${movies}">
                        <img class="card-img-top" th:src="${movie.posterPath}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{movie.heading(${movie.title}, ${#calendars.format(movie.releaseDate, 'yyyy')})}"></h5>
                            <a class="cart-btn btn btn-danger" th:href="@{/movie/{id}(id=${movie.id})}">See more</a>
                        </div>
                    </div>
                </div>
            </section>
            <h2 class="search-category mt-5 mb-4">TV Shows</h2>
            <section class="col-xs-12 col-sm-6 col-md-12">
                <h3 th:if="${#lists.isEmpty(tvShows)}">No TV Shows Found</h3>
                <div th:if="${not #lists.isEmpty(tvShows)}" class="d-flex flex-wrap">
                    <div class="card" th:each="tvShow: ${tvShows}">
                        <img class="card-img-top" th:src="${tvShow.posterPath}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{tvshow.heading(${tvShow.title}, ${#calendars.format(tvShow.startDate, 'yyyy')}, ${#calendars.format(tvShow.endDate, 'yyyy')})}"></h5>
                            <a class="card-btn btn btn-danger" th:href="@{/tv/{id}(id=${tvShow.id})}">See more</a>
                        </div>
                    </div>
                </div>
            </section>
            <h2 class="search-category mt-5 mb-4">Celebrity</h2>
            <section class="col-xs-12 col-sm-6 col-md-12">
                <h3 th:if="${#lists.isEmpty(celebrities)}">No Celebrities Found</h3>
                <div th:if="${not #lists.isEmpty(celebrities)}" class="d-flex flex-wrap">
                    <div class="card" th:each="celebrity: ${celebrities}">
                        <img class="card-img-top" th:src="${celebrity.profilePath}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${celebrity.name}"></h5>
                            <a class="card-btn btn btn-danger mx-auto" th:href="@{/celebrity/{id}(id=${celebrity.id})}">See more</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center">
        <a class="page-btn" th:if="${hasPrevPage}" th:href="@{/search(expr=${expr},page=${page -1})}">Previous</a>
        <a class="page-btn" th:if="${hasNextPage}" th:href="@{/search(expr=${expr},page=${page + 1})}">Next</a>
    </div>
    <div th:replace="partials/footer :: footer"></div>
    <div th:replace="partials/script :: script"></div>
</body>

</html>