<section class="mt-5 media-section">
    <h1 class="media-section -title">Trailors</h1>
    <div class="d-flex justify-content-between flex-wrap" >
        <video class="video" controls="" autoplay="" name="media"><source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></video>
    </div>
    <!-- <button id="see-more-photo" class="btn mt-1 pull-right">See more</button>
    <div class="text-center">
        <div class="text-center">
        <h3>No trailors...</h3>
        </div>
    </div> -->
</section>