<section class="mt-5 media-section">
  <h1 class="media-section -title">Photos</h1>
  <div class="d-flex justify-content-between flex-wrap" th:if="${not #lists.isEmpty(@@media.photos)}">
    <th:block th:each="photoUrl, iterStat : ${@@media.photos}">
      <div class="pb-2 media-box-photo" th:hidden="${iterStat.index < 5} ? 'false' : 'true'">
        <img class="media-box -thumbnail mx-auto" th:src="${photoUrl}">
      </div>
    </th:block>
  </div>
  <button id="see-more-photo" class="btn mt-1 pull-right" th:if="${not #lists.isEmpty(@@media.photos) && #lists.size(@@media.photos) > 4}">See more</button>
  <div class="text-center" th:if="${#lists.isEmpty(@@media.photos)}">
    <div class="text-center">
      <h3>No photos...</h3>
    </div>
  </div>
</section>