<div class="col-md-6">
  <p class="text-center media-score -label">MashoMeter!</p>
  <div class="row">
    <img class="mx-auto media-score -icon" src="/img/rating/mashometer-tomato.png">
  </div>
  <p class="text-center media-score -value">
    <span th:text="${@@media.averageCriticRating} * 100"></span>%</p>
  <p class="text-center media-score -stat">Total Reviews:
    <span th:text="${@@media.totalCriticRating}"></span>
  </p>
  <p class="text-center media-score -stat">Average Rating:
    <span th:text="${@@media.averageCriticRating}"></span>/10</p>
  <p class="text-center media-score -stat">Smash:
    <span th:text="${@@media.smashCount}"></span>
  </p>
  <p class="text-center media-score -stat">Pass:
    <span th:text="${@@media.passCount}"></span>
  </p>
</div>
<div class="col-md-6">
  <p class="text-center media-score -label">Audience Score</p>
  <div class="row">
    <img class="mx-auto media-score -icon" src="/img/rating/audience-star.png">
  </div>
  <p class="text-center media-score -value">
    <span th:text="${@@media.averageAudienceRating} * 100"></span>%</p>
  <p class="text-center media-score -stat">Total Ratings:
    <span th:text="${@@media.totalAudienceRating}"></span>
  </p>
  <p class="text-center media-score -stat">Average Rating:
    <span th:text="${@@media.averageAudienceRating}"></span>/5</p>
</div>