@import 'partials/all';
@import 'modules/all';
@import 'base/all';
@import 'celebrity/all';
@import 'media/all';
@import 'publication/all';
@import 'rating/all';
@import 'user/all';
@import 'search/all';
@import 'slick/all';

html {
  min-height: 100%;
}

main {
  width: 85% !important;
}

.main-title {
  font-size: 36px;
  text-align: center;
}

body {
  background-color: $body-bg-color;

}

.loader {
  background: none repeat scroll 0 0 #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader .loader_inner {
  background-image: url("/img/base/loader.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  // background-color: #fff;
  height: 100%;
  width: 100%;
  // margin-top: -30px;
  // margin-left: -30px;
  // left: 50%;
  // top: 50%;
  position: absolute;
}

a:hover {
  text-decoration: none;
}

.btn {
  font-family: 'Patua One', cursive;
  color: black;
}

span, p {
  color: $span-p-color;
}

a,
.form-control,
h1,
h2,
label,
h3,
h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #C0C0C0;
}

.carousel {
  margin: auto;
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
}

#contents-container {
  padding-top: 1px;
  margin-bottom: -60px;
  padding-bottom: 40px;
  width: 100%;
  /* background-color: #BDCCB8 !important; */
}

#card-container {
  /* background-color: #BDCCB8;*/
}

.jumbotron {
  margin-bottom: -5px;
}

label {
  font-size: 25px;
}

.left_col {
  align: left;
}

.right_col {
  align: right;
}

td {
  text-align: center;
}

.chart-heading {
  margin-left: -50px;
}

.section-header {
  padding-top: 50px;
  text-align: center;
  font-size: 70px;
  
}

.line-through{
  text-decoration: line-through;
  color: #C0C0C0;
}

.chart-heading:hover{
  color: red;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
