@import 'partials/all';
@import 'modules/all';
@import 'components/all';

* {
    font-family: $text-font; 
}

.nav-item,
.btn,
.form-control,
h1,
label,
h3,
h5 {
    font-family: $header-font;
}

.nav-item {
    font-size: 18px;
    color: yellow !important;
}

#menubar {
    width: 100%;
    margin: 0 auto;
}

.nav-link {
    align-items: center;
    text-align: center;
}

.carousel {
    margin: auto;
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.card {
    background-color: #BDDAB2;
}

#contents-container {
    padding-top: 1px;
    margin-bottom: -60px;
    padding-bottom: 40px;
    background-color: #BDCCB8 !important;
}

#card-container {
    background-color: #BDCCB8;
}

.jumbotron {
    margin-bottom: -5px;
}

label {
    font-size: 25px;
}

.left_col {
    align: left;
}

.right_col {
    align: right;
}

td {
    text-align: center;
}

td a {
    text-decoration: none !important;
    color: black;
}