@import 'partials/all';
@import 'modules/all';
@import 'base/all';
@import 'celebrity/all';
@import 'media/all';
@import 'publication/all';
@import 'rating/all';
@import 'user/all';

* {
    font-family: $body-typeface;
}

main {
    width: 85%!important;
}

.main-title {
    font-size: 36px;
    text-align: center;
}

.nav-item,
.btn,
.form-control,
h1,
label,
h3,
h5 {
    font-family: $header-typeface;
}

.nav-item {
    font-size: 18px;
    color: yellow !important;
}

.nav-link {
    align-items: center;
    text-align: center;
}

.carousel {
    margin: auto;
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.card {
    background-color: #BDDAB2;
}

#contents-container {
    padding-top: 1px;
    margin-bottom: -60px;
    padding-bottom: 40px;
    /* background-color: #BDCCB8 !important; */
}

#card-container {
    /* background-color: #BDCCB8;*/
}

.jumbotron {
    margin-bottom: -5px;
}

label {
    font-size: 25px;
}

.left_col {
    align: left;
}

.right_col {
    align: right;
}

td {
    text-align: center;
}

td a {
    text-decoration: none !important;
    color: black;
}