<!DOCTYPE html>
<html>

<head>
    <div th:replace="partials/meta :: meta"></div>
    <title th:text="${celebrity.name}"></title>
    <div th:replace="partials/style :: style"></div>
</head>

<body>
    <div th:replace="partials/header :: header"></div>
    <main class="container">
        <section class="celeb-section">
            <h1 class="celeb-section-title" th:text="${celebrity.name}"></h1>
            <div class="d-flex justify-content-between">
                <img class="media-info -poster" src="http://via.placeholder.com/100x200">
                <div class="col-md-8 info">
                    <dl>
                        <dt class="media-info-term">Highest Rated:</dt>
                        <dd class="media-info-description">Foo</dd>
                        <dt class="media-info-term">Lowest Rated:</dt>
                        <dd class="media-info-description">Bar</dd>
                        <dt class="media-info-term">Birthday</dt>
                        <dd class="media-info-description" th:text="${celebrity.birthday}"></dd>
                        <dt class="media-info-term">Birthplace</dt>
                        <dd class="media-info-description" th:text="${celebrity.birthplace}"></dd>
                        <dt class="media-info-term">Bio</dt>
                        <dd class="media-info-description" th:text="${celebrity.biography}">
                        </dd>
                    </dl>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="partials/footer :: footer"></div>
    <div th:replace="partials/script :: script"></div>
</body>

</html>