<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes</title>
  <div th:replace="partials/style :: style"></div>
</head>

<div class="loader">
	<div class="loader_inner"></div>
</div>

<body>
  <div th:replace="partials/header :: header"></div>
  <div id="popupstart" class="container my-3 vertical-center">

    <div id="movie-section">
        <h1 id="section-header-movie" class="section-header">
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            M O V I E
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </h1>

        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?category=new-releases"><h2 id="heading-now-playing" class ="chart-heading">Now Playing</h2></a>

        <div id= "index-carousel-np"class="center slider-box _clearfix">
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel1.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Rampage</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel2.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Ready Player One</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel3.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Truth or Dare</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel4.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">A Quiet Place</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel5.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Blockers</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel6.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Acrimony</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel1.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Rampage</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel2.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Ready Player One</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel3.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Truth or Dare</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel4.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">A Quiet Place</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel5.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Blockers</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel6.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Acrimony</div>
                    </div> 
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?category=opening-this-week"><h2 id="heading-opening-this-week" class ="chart-heading">Opening This Week</h2></a>
        <br>
        <div id="index-carousel-otw"class="center-2 slider-box _clearfix">
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel7.jpg" class="carousel-img carousel-img-2">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel7.jpg" id="img-dim" class="carousel-img carousel-img-2">
                        <div id="top-centered-sub">Deadpool2</div>
                        <div id="movie-info-sub">blah</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel8.jpg" class="carousel-img carousel-img-2">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel8.jpg" id="img-dim" class="carousel-img carousel-img-2">
                        <div id="top-centered-sub">Adrift</div>
                        <div id="movie-info-sub">blah</div>
                    </div> 
                </div>
            </div>
            <div><img src="/img/carousel/carousel9.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel10.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel11.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel12.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="movie?category=coming-soon"><h2 id="heading-coming-soon-movies" class ="chart-heading">Coming Soon</h2></a>
        <br>
        <div id= "index-carousel-csm"class="center-2 slider-box _clearfix">
                <div><img src="/img/carousel/carousel19.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel20.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel21.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel22.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel7.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel8.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?sort=top-box-office"><h2 id="heading-top-box-office" class ="chart-heading">Top Box Office</h2></a>
        <br>
        <div id= "index-carousel-tbo"class="center-2 slider-box _clearfix">
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel7.jpg" class="carousel-img carousel-img-2">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel7.jpg" id="img-dim" class="carousel-img carousel-img-2">
                        <div id="top-centered-sub">Deadpool2</div>
                        <div id="movie-info-sub">blah</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel8.jpg" class="carousel-img carousel-img-2">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel8.jpg" id="img-dim" class="carousel-img carousel-img-2">
                        <div id="top-centered-sub">Adrift</div>
                        <div id="movie-info-sub">blah</div>
                    </div> 
                </div>
            </div>
            <div><img src="/img/carousel/carousel9.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel10.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel11.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel12.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
            <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?sort=most-popular"><h2 id="heading-top-rated-movies" class ="chart-heading">Top Rated</h2></a>
        <br>
        <div id= "index-carousel-trm"class="center-2 slider-box _clearfix">
                <div><img src="/img/carousel/carousel13.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel14.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel15.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel16.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel17.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel18.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>
        



    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="tv-section">
        <h1 id="section-header-tv" class="section-header">
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            T V
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </h1>

        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=airing-today"><h2 id="heading-airing-today" class ="chart-heading">Airing Today</h2></a>

        <div id= "index-carousel-at"class="center slider-box _clearfix">
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel1.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Rampage</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel2.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Ready Player One</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel3.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Truth or Dare</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel4.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">A Quiet Place</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel5.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Blockers</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel6.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Acrimony</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel1.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Rampage</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel2.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Ready Player One</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel3.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Truth or Dare</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel4.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">A Quiet Place</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel5.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Blockers</div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="flip">
                    <div class="front">  
                        <img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-1">
                    </div> 
                    <div class="back">  
                        <img src="/img/carousel/carousel6.jpg" id="img-dim" class="carousel-img carousel-img-1">
                        <div id="top-centered-main">Acrimony</div>
                    </div> 
                </div>
            </div>
        </div>

        <!-- <br>
        <br>
        <br>
        <br>
        <h2 id="heading-airing-today-tv" class ="chart-heading">Airing Today</h2>
        <br>
        <div id= "index-carousel-att"class="center-2 slider-box _clearfix">
                <div><img src="/img/carousel/carousel15.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel16.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel17.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel18.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel19.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel20.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div> -->

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=new-shows"><h2 id="heading-now-airing" class ="chart-heading">Now Airing</h2></a>
        <br>
        <div id= "index-carousel-na"class="center-2 slider-box _clearfix">
                <div><img src="/img/carousel/carousel21.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel22.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel7.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel8.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel9.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel10.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=most-popular"><h2 id="heading-top-rated-tv" class ="chart-heading">Top Rated</h2></a>
        <br>
        <div id= "index-carousel-trt"class="center-2 slider-box _clearfix">
                <div><img src="/img/carousel/carousel21.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel22.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel7.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel8.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel9.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel10.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel1.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel2.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel3.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel4.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel5.jpg" class="carousel-img carousel-img-2"></div>
                <div><img src="/img/carousel/carousel6.jpg" class="carousel-img carousel-img-2"></div>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        

  </div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>