<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes</title>
  <div th:replace="partials/style :: style"></div>
</head>

<div class="loader">
	<div class="loader_inner"></div>
</div>

<body>
  <div th:replace="partials/header :: header"></div>
  <div id="popupstart" class="container my-3 vertical-center">

    <div id="movie-section">
        <h1 id="section-header-movie" class="section-header">
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            M O V I E
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </h1>

        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?category=new-releases"><h2 id="heading-now-playing" class ="chart-heading">Now Playing</h2></a>

        <div id= "index-carousel-np"class="center slider-box _clearfix">
            <div th:each="movie: ${nowPlayingFilms}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${movie.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${movie.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/movie/{id}(id=${movie.id})}">
                            <div id="top-centered-main" th:text="${movie.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?category=opening-this-week"><h2 id="heading-opening-this-week" class ="chart-heading">Opening This Week</h2></a>
        <br>
        <div id="index-carousel-np"class="center slider-box _clearfix">
            <div th:each="movie: ${openingThisWeek}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${movie.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${movie.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/movie/{id}(id=${movie.id})}">
                            <div id="top-centered-main" th:text="${movie.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="movie?category=coming-soon"><h2 id="heading-coming-soon-movies" class ="chart-heading">Coming Soon</h2></a>
        <br>
        <div id= "index-carousel-csm"class="center slider-box _clearfix">
            <div th:each="movie: ${comingSoonFilms}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${movie.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${movie.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/movie/{id}(id=${movie.id})}">
                            <div id="top-centered-main" th:text="${movie.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?sort=top-box-office"><h2 id="heading-top-box-office" class ="chart-heading">Top Box Office</h2></a>
        <br>
        <div id= "index-carousel-csm" class="center slider-box _clearfix">
            <div th:each="movie: ${topBoxOffice}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${movie.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${movie.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                            <div id="top-centered-main">
                                <a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.title}">
                                </a>
                                <p th:text="${#numbers.formatCurrency(movie.boxOffice)}"></p>
                            </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/movie?sort=most-popular"><h2 id="heading-top-rated-movies" class ="chart-heading">Top Rated</h2></a>
        <br>
        <div id= "index-carousel-trm"class="center slider-box _clearfix">
            <div th:each="movie: ${topRatedFilms}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${movie.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${movie.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/movie/{id}(id=${movie.id})}">
                            <div id="top-centered-main" th:text="${movie.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        



    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="tv-section">
        <h1 id="section-header-tv" class="section-header">
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            T V
            <p class="line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </h1>

        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=airing-today"><h2 id="heading-airing-today" class ="chart-heading">Airing Today</h2></a>

        <div id= "index-carousel-at"class="center slider-box _clearfix">
            <div th:each="tv: ${tvAiringToday}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${tv.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${tv.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/tv/{id}(id=${tv.id})}">
                            <div id="top-centered-main" th:text="${tv.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=new-shows"><h2 id="heading-now-airing" class ="chart-heading">Now Airing</h2></a>
        <br>
        <div id= "index-carousel-na"class="center slider-box _clearfix">
            <div th:each="tv: ${nowAiringTVShows}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${tv.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${tv.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/tv/{id}(id=${tv.id})}">
                            <div id="top-centered-main" th:text="${tv.title}"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        
        <br>
        <br>
        <br>
        <br>
        <a class="heading-link" href="/tv?sort=most-popular"><h2 id="heading-top-rated-tv" class ="chart-heading">Top Rated</h2></a>
        <br>
        <div id= "index-carousel-trt"class="center slider-box _clearfix">
            <div th:each="tv: ${topRatedTVShows}">
                <div class="flip">
                    <div class="front">
                        <img th:src="${tv.posterPath}" class="carousel-img carousel-img-1">
                    </div>
                    <div class="back">
                        <img th:src="${tv.posterPath}" id="img-dim" class="carousel-img carousel-img-1">
                        <a th:href="@{/tv/{id}(id=${tv.id})}">
                            <div id="top-centered-main" th:text="${tv.title}"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        

  </div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>