<footer th:fragment="footer" class="navbar navbar-expand-sm footer">
  <div class="collapse navbar-collapse">
    <div class="mx-3 w-100 navbar-nav menu-bar">
      <a class="footer-item nav-item nav-link col-lg" href="/about">
                About
                <span class="sr-only"></span>
            </a>
      <a class="footer-item nav-item nav-link col-lg" href="/terms">
                Terms
                <span class="sr-only"></span>
            </a>
      <a class="footer-item nav-item nav-link col-lg" href="/critic/apply">
                Critic Submission
                <span class="sr-only"></span>
            </a>
      <a class="footer-item nav-item nav-link col-lg" href="/help">
        Help
        <span class="sr-only"></span>
      </a>
      <a class="footer-item nav-item nav-link col-lg" href="/critic/apply">
        Critic Submission
        <span class="sr-only"></span>
      </a>
      <a th:if="${#session != null && session.ViewUser.isAdmin()}" class="footer-item nav-item nav-link col-lg" href="/user/admin">
                Admin
                <span class="sr-only"></span>
            </a>
      <a th:if="${#session != null}" class="footer-item nav-item nav-link col-lg" href="/user/me">
                User
                <span class="sr-only"></span>
            </a>
      <p>
        <a href="https://www.facebook.com/mashed.tomatoes.98">
                    <img class="social-icons" alt="Facebook" src="/img/base/facebook.png">
                </a>
      </p>

      <p>
        <a href="https://www.instagram.com/mashed_tomatoes/">
                    <img class="social-icons" alt="Facebook" src="/img/base/instagram.png">
                </a>
      </p>

      <p>
        <a href="https://twitter.com/MashedTomatoes2">
                    <img class="social-icons" alt="Facebook" src="/img/base/twitter.png">
                </a>
      </p>
    </div>
  </div>
</footer>