<header th:fragment="header" id="nav" class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
        <div class="row">
            <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
            <div id="search-bar" class="mx-3 my-auto d-inline w-75">
                <form id="search-form">
                    <div class="input-group search-form">
                        <input id="search-input" type="text" class="form-control field " placeholder="Search for movies, tv shows, and celebrities">
                        <input type="submit" id="search-btn" value="Search" class="btn action"></input>
                    </div>
                </form>
            </div>
            <a th:if="${#session == null}" id="login-btn" class="ml-4 my-4 h-50 btn login-button" href="/login">Login</a>
            <button th:if="${#session != null}" id="logout-btn" class="ml-4 my-4 h-50 btn login-button">Logout</button>
        </div>
        <div id="menus" class="collapse navbar-collapse">
            <ul class="w-100 m-auto navbar-nav menu-bar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>Movie Megamenu</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>TV Show Megamenu</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>News Megamenu</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>