<header th:fragment="header" id="nav" class="navbar navbar-expand-sm header">
  <div class="grid w-100">
    <div class="row">
      <a href="/" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
      <div id="search-bar" class="pl-100 pr-200 my-auto d-inline w-75">
        <form id="search-form">
          <div class="input-group search-form">
            <input id="search-input" type="text" class="form-control field " placeholder="Search for movies, tv shows, and celebrities">
            <input type="submit" id="search-btn" value="Search" class="btn action"></input>
          </div>
        </form>
      </div>
      <a th:if="${#session == null}" id="login-btn" class="ml-70 my-auto h-50 btn login-button" href="/login">Login</a>
      <button th:if="${#session != null}" id="logout-btn" class="ml-4 my-4 h-50 btn login-button">Logout</button>
    </div>
    <div id="menus" class="collapse navbar-collapse">
      <ul class="w-100 m-auto navbar-nav menu-bar">
        <li id="dropdown-movies" class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" href="#" id="movies-navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
          <div id="movies-sub-menu" class="nav-item dropdown-menu" aria-labelledby="movies-navbarDropdownMenuLink">
            <div class="sub-menus-divs">
              <a href="/movie?category=new-releases" class="sub-menus">Now Playing</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/movie?category=opening-this-week" class="sub-menus">Opening This week</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/movie?category=coming-soon" class="sub-menus">Coming Soon</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/movie?sort=top-box-office" class="sub-menus">Top Box Office</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/movie?sort=most-popular" class="sub-menus">Top Rated</a>
            </div>
            <div class="sub-menus-divs">
              <a href="#" class="sub-menus">Academy Award Winners</a>
            </div>
          </div>
        </li>
        <li id="dropdown-tv-shows" class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" href="#" id="tv-shows-navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
          <div id="tv-shows-sub-menu" class="nav-item dropdown-menu" aria-labelledby="tv-shows-navbarDropdownMenuLink">
            <div class="sub-menus-divs">
              <a href="/tv?sort=airing-today" class="sub-menus">Airing Today</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/tv?sort=now-airing" class="sub-menus">Now Airing</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/tv?sort=most-popular" class="sub-menus">Top Rated</a>
            </div>
          </div>
        </li>
        <li id="dropdown-critics" class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" href="/critics?filter=all" id="critics-navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Critics
                    </a>
          <div id="critics-sub-menu" class="nav-item dropdown-menu" aria-labelledby="critics-navbarDropdownMenuLink">
            <div class="sub-menus-divs">
              <a href="/critic?filter=all" class="sub-menus">All</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/critic?filter=top" class="sub-menus">Top</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/review?filter=all" class="sub-menus">All Reviews</a>
            </div>
            <div class="sub-menus-divs">
              <a href="/review?filter=latest" class="sub-menus">Latest Reviews</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>