@import 'modules/mixins';

.media-info {
    padding-bottom: 10px;

    &.-poster {
        width: 10em;
        height: 30em;
    }

    &.-poster-celeb {
        width: 20em;
        height: 25em;
    }

    @include info-key-value();
}