<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mashed Tomatoes</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header id="nav" class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
      <div class="row">
        <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
        <form id="search-bar" class="mx-3 my-auto d-inline w-75">
          <div class="input-group search-form ">
            <input type="text" class="form-control field " placeholder="Search?">
            <button class="btn action" onclick="location.href = 'search.html';">Search</button>
          </div>
        </form>
        <button id="login-btn" class="ml-4 my-4 h-50 btn login-button" onclick="location.href = 'login.html';">Login</button>
      </div>
      <div id="menus" class="collapse navbar-collapse">
        <ul class="w-100 m-auto navbar-nav menu-bar">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>Movie Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>TV Show Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>News Megamenu</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container my-3 vertical-center">
    <div class="container" id="contents-container">
      <div class="m-5">
        <h1>Register</h1>
      </div>
      <div class="row">
        <a href="index.html" class="register-body center">
          <img src="/img/base/logo.png" class="register-logo">
        </a>
      </div>

      <form id="registration-form" method="post" action="">
        <div class="row">
          <div class="register-body form-group my-3 w-50">
            <label class="input-register-display-name" for="usr">Display Name:</label>
            <input id="input-register-display-name" class="form-control" name="displayName" required="required" />
          </div>
          <div class="row">
            <div class="register-body form-group my-3 w-50">
              <label class="input-register-email" for="usr">Email Address:</label>
              <input id="input-register-email" type="email" class="form-control" name="email" required="required" />
            </div>
          </div>
          <div class="row">
            <div class="register-body form-group my-3 w-50">
              <label for="input-register-pwd">Password:</label>
              <input id="input-register-pwd" type="password" class="form-control" name="password" required="required" />
            </div>
          </div>
          <p class="register-agree-already">
            By clicking "Sign up", I agree to the
            <a href="terms.html">Terms of Service</a> and
            <a href="privacy.html">Privacy Policy</a>.
          </p>
          <div class="row">
            <input id="register-btn" type="submit" value="SIGN UP" class="register-body login-page-btn btn btn-warning my-4" />
            <!-- <a href="index.html" id="register-btn" class="register-body login-page-btn btn btn-warning my-4">SIGN UP</a> -->
          </div>
      </form>

      <div class="mb-5">
        <p class="register-agree-already">Already have an account?
          <a href="login.html">Log in here</a>
        </p>
      </div>
      </div>
    </div>
    <footer class="navbar navbar-expand-sm navbar-dark bg-success">
      <div class="collapse navbar-collapse">
        <div class="mx-3 w-100 navbar-nav menu-bar">
          <a class="nav-item nav-link col-lg" href="about.html">
                About
                <span class="sr-only"></span>
            </a>
          <a class="nav-item nav-link col-lg" href="feedback.html">
                Feedback
                <span class="sr-only"></span>
            </a>
          <a class="nav-item nav-link col-lg" href="criticsubmission.html">
                Critic Submission
                <span class="sr-only"></span>
            </a>
          <a class="nav-item nav-link btn-primary col-lg rounded" href="newsletter.html">
                Join the Newsletter!
                <span class="sr-only"></span>
            </a>
        </div>
      </div>
    </footer>
    <script src="/js/bundle.js"></script>

</body>

</html>