<!DOCTYPE html>
<html>

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>User Page</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <main class="container">
    <h1 class="main-title my-4" th:text="${user.displayName}">John Doe</h1>
    <th:block th:if="${#session != null && !viewingOwnProfile}">
      <div id="follow-user-btn-row" class="row" th:attr="data-user-id=${user.id}, data-user-is-following=${isFollowing}">
        <button th:if="${!isFollowing}" id="follow-user-btn" class="mx-auto mb-4 btn btn-primary" data-bind="css: followCSS, text: followText, click: onFollow">Follow</button>
        <button th:if="${isFollowing}" id="follow-user-btn" class="mx-auto mb-4 btn btn-danger" data-bind="css: followCSS, text: followText, click: onFollow">Unfollow</button>
      </div>
    </th:block>
    <div class="row">
      <ul class="nav nav-pills mx-auto user-tab" id="pills-tab">
        <li th:if="${viewingOwnProfile}" class="pr-3 nav-item user-tab -item">
          <a class="nav-link active user-tab -item-link" data-toggle="pill" href="#pills-account">Account</a>
        </li>
        <li class="nav-item user-tab -item">
          <a th:classappend="${!viewingOwnProfile} ? 'active pr-3' : 'px-3'" class="nav-link user-tab -item-link" id="pills-ratings-tab" data-toggle="pill" href="#pills-ratings">Ratings</a>
        </li>
        <li class="px-3 nav-item user-tab -item">
          <a class="nav-link user-tab -item-link" id="pills-lists-tab" data-toggle="pill" href="#pills-lists">WTS/NI</a>
        </li>
        <li class="px-3 nav-item user-tab -item">
          <a class="nav-link user-tab -item-link" id="pills-quotes-tab" data-toggle="pill" href="#pills-quotes">Quotes</a>
        </li>
        <li class="pl-3 nav-item user-tab -item">
          <a class="nav-link user-tab -item-link" id="pills-critics-tab" data-toggle="pill" href="#pills-stats">Stats</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <th:block th:if="${viewingOwnProfile}">
        <div th:replace="user/panes/account :: pane"></div>
      </th:block>
      <div th:replace="user/panes/ratings :: pane"></div>
      <div th:replace="user/panes/lists :: pane"></div>
      <div th:replace="user/panes/quotes :: pane"></div>
      <div th:replace="user/panes/stats :: pane"></div>
    </div>
    <div th:replace="user/modals/email :: modal"></div>
    <div th:replace="user/modals/displayname :: modal"></div>
    <div th:replace="user/modals/password :: modal"></div>
    <div th:replace="user/modals/privacysetting :: modal"></div>
    <div th:replace="user/modals/delete :: modal"></div>
  </main>
  <div th:replace="partials/alert :: danger"></div>
  <div th:replace="partials/alert :: success"></div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>