<footer class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="collapse navbar-collapse">
    <div class="mx-3 w-100 navbar-nav menu-bar">
      <a class="nav-item nav-link col-lg" href="about.html">
                About
                <span class="sr-only"></span>
            </a>
      <a class="nav-item nav-link col-lg" href="feedback.html">
                Feedback
                <span class="sr-only"></span>
            </a>
      <a class="nav-item nav-link col-lg" href="criticsubmission.html">
                Critic Submission
                <span class="sr-only"></span>
            </a>
      <a class="nav-item nav-link btn-primary col-lg rounded" href="newsletter.html">
                Join the Newsletter!
                <span class="sr-only"></span>
            </a>
    </div>
  </div>
</footer>