<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mashed Tomatoes | Article Name</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
      <div class="row">
        <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/logo.png" class="icon">
            </a>
        <form id="search-bar" class="mx-3 my-auto d-inline w-75">
          <div class="input-group search-form ">
            <input type="text" class="form-control field " placeholder="Search?">
            <button class="btn action" onclick="location.href = 'search.html';">Search</button>
          </div>
        </form>
        <button id="login-btn" class="ml-4 my-4 h-50 btn login-button" onclick="location.href = 'login.html';">Login</button>
      </div>
      <div id="menus" class="collapse navbar-collapse">
        <ul class="w-100 m-auto navbar-nav menu-bar">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>Movie Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>TV Show Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>News Megamenu</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container my-3 vertical-center">
    <div class="row">
      <div class="col-8">
        <div class="m-5">
          <h1>
            <a href="index.html">
                            <img src="img/logo.png" class="about-logo">
                        </a>News
          </h1>
          <h2 class="my-5">BEST MOVIES OFF THE RADAR 2017</h2>
          <h3>A SELECTION OF 12 STAFF FAVORITES THAT MIGHT NOT HAVE PLAYED AT YOUR LOCAL MULTIPLEX.</h3>
        </div>
        <p class="about-body">Rotten Tomatoes® and the Tomatometer® score are the most trusted recommendation sources for quality entertainment. As the leading online aggregator of movie and TV show reviews from professional critics, Rotten Tomatoes offers the most comprehensive guide to what's Fresh. The world famous Tomatometer score represents the percentage of positive professional reviews for films and TV shows and is used by millions of fans to help with their viewing decisions. Rotten Tomatoes designates the best-reviewed movies and TV shows as Certified Fresh™. That accolade is awarded with a Tomatometer score of 75% and higher and a required minimum number of reviews.
          <p>
            <p class="my-2 about-body">In 2016, Flixster and Rotten Tomatoes became part of Fandango's portfolio of digital properties, serving moviegoers and entertainment fans.</p>
      </div>
      <div class="col-4">
        <div class="my-5 mx-2">
          <h2>Contact</h2>
        </div>
        <h3>Customer Support</h3>
        <p class="my-1 about-contact-body">
          Visit our FAQs or fill out our Email Form.
        </p>
        <h3>Licensing or Partnership Inquiries</h3>
        <p class="my-1 about-contact-body">
          Visit our FAQs or fill out our Email Form.
        </p>
        <h3>Submit Movie Information</h3>
        <p class="my-1 about-contact-body">
          Tell us about missing or incorrect movie or TV information.
        </p>
        <h3>Advertise</h3>
        <p class="my-1 about-contact-body">
          Review Fandango Advertising Opportunities.
        </p>

      </div>
    </div>
  </div>
  <footer class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="collapse navbar-collapse">
      <div class="mx-3 w-100 navbar-nav menu-bar">
        <a class="nav-item nav-link col-lg" href="about.html">
                About
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="feedback.html">
                Feedback
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="criticsubmission.html">
                Critic Submission
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link btn-primary col-lg rounded" href="newsletter.html">
                Join the Newsletter!
                <span class="sr-only"></span>
            </a>
      </div>
    </div>
  </footer>
  <script src="/js/bundle.js"></script>

</body>

</html>