<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <title>Mashed Tomatoes</title>

</head>

<body>

  <!-- CONTAINER -->
  <div class="container my-3 vertical-center">

    <!-- JUMBOTRON -->
    <div class="jumbotron bg-dark">

      <!-- NAVIGATION -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-success rounded" role: "navigation">

        <div class="grid w-100">

          <!-- FIRST ROW -->
          <div class="row">

            <!-- LOGO -->
            <a href="./index.html" class="navbar-brand ml-3">
              <img src="./images/logo1.png" style="max-width:70px">
            </a>


            <!--ADD SEARCH BAR-->
            <form class="mx-3 my-auto d-inline w-75">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search?">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" onclick="location.href = './search.html';">Search</button>
                </span>
              </div>
            </form>

            <!-- ADD LOGIN BUTTON -->
            <button class="btn btn-warning ml-4 my-4 h-50" id="loginbtn" type="button" onclick="location.href = './login.html';">LOGIN</button>

            <!-- TOGGLE ICON -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#alt" aria-controls="alt" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          </div>

          <!-- SECOND ROW -->
          <div class="row row-centered">

            <!-- MENU BUTTON -->
            <div class="collapse navbar-collapse" id="alt">
              <div class="navbar-nav" id="menubar">

                <!-- <a class="nav-item nav-link active" href="#">
              HOME<span class="sr-only">(current)</span>
            </a> -->

                <!-- <div class="dropdown">
            <button class="nav-item nav-link btn btn-light btn-sm " type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HOME
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">HOME</a>
        </div>
      </div> -->

                <div class="dropdown">
                  <button class="nav-item nav-link btn btn-light btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MOVIE
      </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./movie.html">MOVIE</a>
                    <a class="dropdown-item" href="./mphoto.html">MOVIE PHOTO</a>
                    <a class="dropdown-item" href="./mvideo.html">MOVIE VIDEO</a>
                    <a class="dropdown-item" href="./mreview.html">MOVIE REVIEW</a>
                  </div>
                </div>

                <div class="dropdown">
                  <button class="nav-item nav-link btn btn-light btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TV
    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./tshow.html">TV SHOW</a>
                    <a class="dropdown-item" href="./tshows">TV SHOW SEASON</a>
                    <a class="dropdown-item" href="./tshowe">TV SHOW EPISODE</a>
                    <a class="dropdown-item" href="./treview">TV REVIEW</a>
                  </div>
                </div>

                <div class="dropdown">
                  <button class="nav-item nav-link btn btn-light btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    NEWS
  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./news.html">NEWS</a>
                    <a class="dropdown-item" href="./guide.html">GUIDE</a>
                    <a class="dropdown-item" href="./article.html">ARTICLE</a>
                    <a class="dropdown-item" href="./column.html">COLUMN</a>
                  </div>
                </div>
                <!-- <a class="nav-item nav-link col-lg active" href="#">
HOME<span class="sr-only">(current)</span>
</a>
<a class="nav-item nav-link col-lg" href="#">
MOIVE<span class="sr-only"></span>
</a>
<a class="nav-item nav-link col-lg" href="#">
TV<span class="sr-only"></span>
</a>
<a class="nav-item nav-link col-lg" href="#">
NEWS<span class="sr-only"></span>
</a> -->
              </div>
            </div>

          </div>

        </div>

      </nav>

      <!-- ADD CONTENT -->
      <div class="container" id="contents-container">


        <!-- HEADING -->
        <div class="m-5">
          <h1>Login</h1>
        </div>

        <div class="row">
          <!-- LOGO -->
          <a href="./index.html" class="center" style="margin: 0 auto">
      <img src="./images/logo1.png" style="max-width:150px">
    </a>
        </div>

        <div class="row">
          <div class="form-group my-3 w-25" style="margin: 0 auto">
            <label for="usr">Email Address:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>

        <div class="row">
          <div class="form-group my-3 w-25" style="margin: 0 auto">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
        </div>


        <div class="row">
          <a href="./index.html" class="btn btn-warning my-4" style="margin: 0 auto; font-size: 30px;">LOGIN</a>
        </div>

        <div class="row">
          <a class="my-4" href="./recover.html" style="margin: 0 auto; font-size: 20px">Forgot your password?</a>
        </div>

        <div class="row mb-5">
          <span style="margin: 0 auto; font-size: 20px">Don't have a account?&nbsp<a class="my-4" href="./register.html" > Sign up here</a></span>
        </div>




      </div>

    </div>


    <!-- footer -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-success rounded w-100" role: "navigation">
      <div class="grid w-100">
        <div class="row row-centered">
          <div class="collapse navbar-collapse" id="alt">
            <div class="navbar-nav mx-3" id="menubar">

              <a class="nav-item nav-link col-lg" href="./about.html">
                                  About<span class="sr-only"></span>
                                </a>
              <a class="nav-item nav-link col-lg" href="./feedback.html">
                                  Feedback<span class="sr-only"></span>
                                </a>
              <a class="nav-item nav-link col-lg" href="./criticsubmission.html">
                                  Critic Submission<span class="sr-only"></span>
                                </a>
              <a class="nav-item nav-link btn-primary col-lg rounded" id="join-news-letter" href="./newsletter.html">
                                  Join the Newsletter!<span class="sr-only"></span>
                                </a>
            </div>
          </div>

        </div>

      </div>

    </nav>



  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>