$body-bg-color: #ffffff;
$header-bg-color:#4d9632;
$header-fg-color: yellow; 

$site-title-text-color: #000000;

$nav-bar-bg-color: #4d9632;

$login-btn-bg-color: #dbbd2d;
$login-btn-fg-color: #000000;

$search-form-action-bg-color: #d8746a;
$search-form-action-fg-color: #ffffff;

$footer-bg-color: $header-fg-color;

$dominant-color: red;
$background-color: blue;
$soft-accent-color: green;
$hard-accent-color: orange;