@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato');

$text-font: 'Lato', sans-serif;
$header-font: 'Concert One', cursive;

$site-title-text-font: $header-font;
$site-title-text-font-size: 48px;

$search-form-field-font: Arial, Helvetica, sans-serif;