<div th:fragment="pane" class="tab-pane fade show active user-pane" id="pills-account" role="tabpanel">
    <div class="user-pane -account-item">
        <p class="user-pane -account-item -label">Email Address</p>
        <a href="#" class="user-pane -account-item -action" data-toggle="modal" data-target="#emailModal">Change</a>
        <p class="user-pane -account-item -description">Change your email address for your Mashed Tomatoes account.</p>
    </div>
    <div class="user-pane -account-item">
        <p class="user-pane -account-item -label">Profile Display Name</p>
        <a href="#" class="user-pane -account-item -action" data-toggle="modal" data-target="#displayNameModal">Change</a>
        <p class="user-pane -account-item -description">Edit your public profile display name.</p>
    </div>
    <div class="user-pane -account-item">
        <p class="user-pane -account-item -label">Password</p>
        <a href="#" class="user-pane -account-item -action" data-toggle="modal" data-target="#passwordModal">Change</a>
        <p class="user-pane -account-item -description">Change the password for your Mashed Tomatoes account.</p>
    </div>
    <div class="user-pane -account-item">
        <p class="user-pane -account-item -label">Privacy Setting</p>
        <a href="#" class="user-pane -account-item -action" data-toggle="modal" data-target="#privacyModal">Change</a>
        <p class="user-pane -account-item -description">Manage your profile visibility.</p>
    </div>
    <div class="user-pane -account-item">
        <p class="user-pane -account-item -label">Delete Account</p>
        <a href="#" class="user-pane -account-item -action" data-toggle="modal" data-target="#deleteModal">Delete</a>
        <p class="user-pane -account-item -description">Terminate your Mashed Tomatoes account.</p>
    </div>
</div>
