<div th:fragment="pane" class="tab-pane fade user-pane" id="pills-critic-applications" role="tabpanel">
    <h2 th:if="${#lists.isEmpty(applications)}" class="my-4 text-center">So much empty...</h2>
    <div th:if="${!#lists.isEmpty(applications)}" class="mt-4 mx-auto d-flex flex-wrap">
        <div th:each="app: ${applications}" class="mx-4 my-2 bg-dark review-card">
            <div class="card-body">
                <h2 class="py-4 card-text">
                    <span th:text="${app.firstName}"></span>&nbsp;<span th:text="${app.lastName}"></span>
                </h2>
                <p class="my-2" th:text="${app.body}"></p>
            </div>
            <div class="d-flex justify-content-center w-75 mx-auto py-2">
                <button class="delete-application-btn btn btn-primary mr-2" th:attr="data-applicant-id=${app.applicant.id}" data-approved="true">Accept</button>
                <button class="delete-application-btn btn btn-danger ml-2" th:attr="data-applicant-id=${app.applicant.id}" data-approved="false">Reject</button>
            </div>
        </div>
    </div>
</div>

