<header id="nav" class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
        <div class="row">
            <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
            <form id="search-bar" class="mx-3 my-auto d-inline w-75">
                <div class="input-group search-form ">
                    <input type="text" class="form-control field " placeholder="Search?">
                    <button class="btn action" onclick="location.href = 'search.html';">Search</button>
                </div>
            </form>
            <a th:if="${not session.containsKey('user')}" id="login-btn"class="ml-4 my-4 h-50 btn login-button" href="/login">Login</a>
        </div>
        <div id="menus" class="collapse navbar-collapse">
            <ul class="w-100 m-auto navbar-nav menu-bar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>Movie Megamenu</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>TV Show Megamenu</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p>News Megamenu</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
