<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${celebrity.name}"></title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header id="nav" class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="grid w-100">
      <div class="row">
        <a href="index.html" class="ml-3 navbar-brand ">
                <img src="/img/base/logo.png" class="icon">
            </a>
        <form id="search-bar" class="mx-3 my-auto d-inline w-75">
          <div class="input-group search-form ">
            <input type="text" class="form-control field " placeholder="Search?">
            <button class="btn action" onclick="location.href = 'search.html';">Search</button>
          </div>
        </form>
        <button id="login-btn" class="ml-4 my-4 h-50 btn login-button" onclick="location.href = 'login.html';">Login</button>
      </div>
      <div id="menus" class="collapse navbar-collapse">
        <ul class="w-100 m-auto navbar-nav menu-bar">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Movies
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>Movie Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TV Shows
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>TV Show Megamenu</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p>News Megamenu</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="container">
    <section class="celeb-section">
      <h1 class="celeb-section-title">Celebrity Name</h1>
      <div class="d-flex justify-content-between">
        <img class="media-info -poster" src="http://via.placeholder.com/100x200">
        <div class="col-md-8 info">
          <dl>
            <dt class="media-info-term">Highest Rated:</dt>
            <dd class="media-info-description">Foo</dd>
            <dt class="media-info-term">Lowest Rated:</dt>
            <dd class="media-info-description">Bar</dd>
            <dt class="media-info-term">Birthday</dt>
            <dd class="media-info-description">01/02/03</dd>
            <dt class="media-info-term">Birthplace</dt>
            <dd class="media-info-description">Earth</dd>
            <dt class="media-info-term">Bio</dt>
            <dd class="media-info-description">
              The son of a trucking company manager, Brad Pitt was born December 18, 1963, in Shawnee, OK. Raised in Missouri as the oldest of three children, and brought up in a strict Baptist household, Pitt enrolled at the University of Missouri, following high school graduation, studying journalism and advertising.
            </dd>
          </dl>
        </div>
      </div>
    </section>
  </main>
  <footer class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="collapse navbar-collapse">
      <div class="mx-3 w-100 navbar-nav menu-bar">
        <a class="nav-item nav-link col-lg" href="about.html">
                About
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="feedback.html">
                Feedback
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link col-lg" href="criticsubmission.html">
                Critic Submission
                <span class="sr-only"></span>
            </a>
        <a class="nav-item nav-link btn-primary col-lg rounded" href="newsletter.html">
                Join the Newsletter!
                <span class="sr-only"></span>
            </a>
      </div>
    </div>
  </footer>
  <script src="/js/bundle.js"></script>

</body>

</html>