<!doctype html>
<html lang="en">

<head>
  @@include('meta.html')
  <title>Mashed Tomatoes</title>
  @@include('style.html')
</head>

<body>
  @@include('header.html')
  <div class="container my-3 vertical-center">
    <div class="container" id="contents-container">
      <div class="m-5">
        <h1>Register</h1>
      </div>
      <div class="row">
        <a href="index.html" class="register-body center">
          <img src="/img/base/logo.png" class="register-logo">
        </a>
      </div>
     
      <form id="registration-form" method="post" action="">
        <div class="row">
          <div class="register-body form-group my-3 w-50">
            <label class="input-register-display-name" for="usr">Display Name:</label>
            <input id="input-register-display-name" class="form-control" name="displayName" required="required" />
          </div>
        <div class="row">
          <div class="register-body form-group my-3 w-50">
            <label class="input-register-email" for="usr">Email Address:</label>
            <input id="input-register-email" type="email" class="form-control" name="email" required="required" />
          </div>
        </div>
        <div class="row">
          <div class="register-body form-group my-3 w-50">
            <label for="input-register-pwd">Password:</label>
            <input id="input-register-pwd" type="password" class="form-control" name="password" required="required" />
          </div>
        </div>
        <p class="register-agree-already">
          By clicking "Sign up", I agree to the
          <a href="terms.html">Terms of Service</a>
          and
          <a href="privacy.html">Privacy Policy</a>.
        </p>
        <div class="row">
          <input id="register-btn" type="submit" value="SIGN UP" class="register-body login-page-btn btn btn-warning my-4" />
          <!-- <a href="index.html" id="register-btn" class="register-body login-page-btn btn btn-warning my-4">SIGN UP</a> -->
        </div>
      </form>

      <div class="mb-5">
        <p class="register-agree-already">Already have an account?
          <a href="login.html">Log in here</a>
        </p>
      </div>
    </div>
  </div>
  @@include('footer.html')
  @@include('script.html')
</body>

</html>