@import 'modules/fonts';

.recover-body {

    margin: 0 auto;
}

.recover-page-btn{
    font-size: $login-page-btn-font-size;
}

.recover-forgot-recover{
    font-size: $login-forgot-recover-font-size;
}

.recover-logo{
    max-width:150px;
}