@import 'modules/fonts';

.user-pane {
    &.-title {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &.-account-item {
        display: block;
        &.-label {
            display: inline;
            font-size: $account-item-label-font-size;
        }
        &.-action {
            display: inline;
            font-size: $account-item-action-font-size;
        }
        &.-description {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: $account-item-description-font-size;
        }
    }
    &.-about-item {
        &.-label {
            font-size: $about-item-label-font-size;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.-text {
            font-size: $about-item-text-font-size;
            margin-bottom: 15px;
        }
    }
    &.-rating-item {
        &.-img {
            width: 100px;
            height: 100px;
        }
    }
    &.-list {
        width: 50%;
        &.-title {
            font-size: $list-title-font-size;
        }
        &.-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &.-caption {
                display: flex;
                font-size: $list-item-caption-font-size;
                &.-title::after {
                    content: "  ";
                    white-space: pre;
                }
                &.-mashometer {}
            }
            &.-action {
                &.-thumbnail {}
            }
        }
        &.-no-item {
            font-size: $list-item-caption-font-size;
        }
    }
}