<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes | About</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <div class="container my-3 vertical-center">
    <div class="row">
      <div class="col-8">
        <div class="m-5">
          <h1>
            <a href="index.html">
                            <img src="/img/base/logo.png" class="about-logo">
                        </a>About
          </h1>
        </div>
        <p class="about-body">
          Wanna watch something? Mashed Tomatoes gives you full access to the entertainment universe, movie theaters and all screens in between. Whether you’re ready to score tickets for the blockbuster of the year, binge-watch the latest hit series or track down that collector's DVD, Mashed Tomatoes makes it happen — fast, cheap and just how you like it. And don't just watch: Discover. Share. Interact with a worldwide community of film and TV fans on mobile, social and beyond. Because when you love entertainment, you'll never have enough. Mashed Tomatoes keeps it coming.
          <p>
            <p class="my-2 about-body">
              For the latest updates, like us on <a class="about-social" href="https://www.facebook.com/mashed.tomatoes.98">Facebook</a>, follow us on <a class="about-social" href="https://twitter.com/MashedTomatoes2">Twitter</a>, follow us on <a class="about-social" href="https://www.instagram.com/mashed_tomatoes/">Instagram</a>
            </p>
      </div>
      <div class="col-4">
        <div class="my-5 mx-2">
          <h2>Contact</h2>
        </div>
        <h3 class="about-contact-h3"><a class="about-contact-mailto" href="mailto:mashedtomatoes1@gmail.com">Customer Support</a></h3>
        <p class="my-1 about-contact-body">
          Visit our FAQs or fill out our Email Form.
        </p>
        <h3 class="about-contact-h3"><a class="about-contact-mailto" href="mailto:mashedtomatoes1@gmail.com">Licensing or Partnership Inquiries</a></h3>
        <p class="my-1 about-contact-body">
          Visit our FAQs or fill out our Email Form.
        </p>
        <h3 class="about-contact-h3"><a class="about-contact-mailto" href="mailto:mashedtomatoes1@gmail.com">Tell Us Missing Movie Information</a></h3>
        <p class="my-1 about-contact-body">
          Tell us about missing or incorrect movie or TV information.
        </p>
        <h3 class="about-contact-h3"><a class="about-contact-mailto" href="mailto:mashedtomatoes1@gmail.com">Advertise</a></h3>
        <p class="my-1 about-contact-body">
          Review Fandango Advertising Opportunities.
        </p>

      </div>
    </div>
  </div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>