<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes | About</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <div class="container my-3 vertical-center">
    <div class="m-5">
      <h1>
        <a href="index.html">
                    <img src="/img/base/logo.png" class="help-logo">
                </a>Help
      </h1>
    </div>
    <h2>Contact Us</h2>
    <br>
    <a class="help-contact-mailto" href="mailto:aarin.chase@stonybrook.edu">
      <h3 class="help-contact-h3"><img src="/img/base/aarin.jpg" class="member-logo">Aarin Chase</h3>
    </a>
    <a class="help-contact-mailto" href="mailto:yaneury.fermin@stonybrook.edu">
      <h3 class="help-contact-h3"><img src="/img/base/yaneury.png" class="member-logo">Yaneury Fermin</h3>
    </a>
    <a class="help-contact-mailto" href="mailto:carlton.yeung@stonybrook.edu">
      <h3 class="help-contact-h3"><img src="/img/base/carlton.jpg" class="member-logo">Carlton Yeung</h3>
    </a>
    <a class="help-contact-mailto" href="mailto:gyunam.park@stonybrook.edu">
      <h3 class="help-contact-h3"><img src="/img/base/gyunam.png" class="member-logo">Gyunam Park</h3>
    </a>
    <br>
    <br>
    <br>
  </div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>