<!doctype html>
<html lang="en">

<head>
  <div th:replace="partials/meta :: meta"></div>
  <title>Mashed Tomatoes</title>
  <div th:replace="partials/style :: style"></div>
</head>

<body>
  <div th:replace="partials/header :: header"></div>
  <div class="container my-3 vertical-center">
    <div class="container" id="contents-container">
      <div class="m-5">
        <h1>JOIN THE NEWSLETTER!</h1>
      </div>
      <div class="row">
        <div class=" w-25"></div>
        <div class="form-group my-3 w-25">
          <label class="hi" for="usr">First Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group my-3 w-25">
          <label class="hi" for="usr">Last Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row">
        <div class="newsletter-body form-group my-3 w-50">
          <label class="hi" for="usr">Email Address:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row">
        <a href="#" class="newsletter-body newsletter-page-btn btn btn-warning my-4">JOIN!</a>
      </div>
    </div>
  </div>
  <div th:replace="partials/footer :: footer"></div>
  <div th:replace="partials/script :: script"></div>
</body>

</html>