<div th:fragment="modal" class="modal fade" id="privacyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change your profile visibility</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="change-privacy-form">
                    <div class="form-group">
                        <h2 style="color: black" class="my-5">Profile Visibility</h2>
                        <div class="form-check form-check-inline">
                            <input th:if="${user.publicProfile}" class="form-check-input" type="radio" name="publicProfile" id="public"
                                   value="public" checked>
                            <input th:if="${!user.publicProfile}" class="form-check-input" type="radio" name="publicProfile" id="public"
                                   value="public">
                            <label style="color: black" class="form-check-label" for="public">Public</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input th:if="${!user.publicProfile}" class="form-check-input" type="radio" name="publicProfile" id="private"
                                   value="private" checked>
                            <input th:if="${user.publicProfile}" class="form-check-input" type="radio" name="publicProfile" id="private"
                                   value="private">
                            <label style="color: black" class="form-check-label" for="private">Private</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input form="change-privacy-form" type="submit" class="btn btn-primary" value="Update"/>
            </div>
        </div>
    </div>
</div>

